nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 980px;
}
.navleft {
    position: absolute;
    top: 25px;
    left: 25px;
}
.navright {
    position: relative;
    top: 25px;
    right: 25px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.signinbutton {
    background-color: slateblue;
    color: white;
    border-color: none;
    border-radius: 3px;
    height: 30px;
    width: 75px;
}
.rounded-light-grey-border {
    border-radius: 20px;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
}
.maincontent {
    position: relative;
    top: 150px;
    max-width: 600px;
    margin: 0 auto;
}
img {
    display: block;
    max-width: 272px;
    margin: 0 auto;
    padding: 20px;
}
input {
    display: block;
    width: 584px;
    max-width: 584px;
    margin: 0 auto;
    line-height: 34px;
    height: 34px !important;
}
.Button {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
form {
    text-align: center;
}
.fbar {
    display: flex;
    position: fixed;
    bottom: 0px;
}
footer {
    background-color: lightgrey;
}
.footerleft {
    position: relative;
    left: 25px;
}
.footerright {
    position: relative;
    right: 25px;
}