nav {
    position: relative;
    min-width: 980px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 0px;
}
.navleft {
    float: left;
}
a {
    color: rgba(0,0,0,0.87); 
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #5f6368;
}
.navleft a {
    color: black;
    opacity: 75%;
}
.navright {
    float: right;
    position: absolute;
    margin-right: 22px;
    right: 10px;
}
ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
.navleft li {
    padding-left: 15px; 
    position: relative;
    top: 27px;
    left: 8px;
}
.navright li {
    padding-right: 15px;
    position: relative;
    top: 13px;
    left: 8px;
}
#google-apps-link {
    height: 25px;
    width: 25px;
    opacity: 55%;
    position: relative;
    top: 8px;
}
#google-apps-link:hover {
    opacity: 100%;
}
#sign-in-button {
    background-color: #4285f4;
    color: white;
    font-weight: bold;
    outline: none;
    border: 1px solid #4285f4;
    border-radius: 2px;
    height: 28px;
    width: 69px;
    position: relative;
    right: 1px;
}

.rounded-light-grey-border {
    border-radius: 20px;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
}
.maincontent {
    position: absolute;
    top: 130px;
    min-width: 980px;
    margin: 0 auto;
}
#google-logo {
    display: block;
    width: 272px;
    margin: 0 auto;
    padding: 25px;
}
input {
    display: block;
    width: 387px;
    margin: 0 auto;
    line-height: 34px;
    height: 34px !important;
}
.Button {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
form {
    text-align: center;
}
footer {
    background-color: rgb(242, 242, 242);
    min-width: 980px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    line-height: 40px;
    border-top: 1px solid #e4e4e4;
}
footer a {
    color: #5f6368;
}
.footer-left {
    float: left;
}
.footer-right {
    float: right;
}
.footer-left li {
    padding-left: 25px;
}
.footer-right li {
    padding-right: 25px;
}